node_modules
dist
.env
.env.local
.vite
coverage
playwright-report
test-results
*.log
*.tsbuildinfo
dist-ssr
.tsbuildinfo

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
